@font-face {
  font-family: minecraftchmc;
  src: url(/assets/fonts/Minecraftchmc/Minecraftchmc.ttf);
}

@font-face {
  font-family: minecraftten;
  src: url(/assets/fonts/MinecraftTen/MinecraftTen.ttf);
}

@font-face {
  font-family: rubiklight;
  src: url(/assets/fonts/Rubik/Rubik-Light.ttf);
}

:root {
  --fs-first: #daeaf7;
  --fs-second: #4fa5d8;
  --fs-third: #0754b0;
  --fs-fourth: #010e54;
  --fs-fifth: #00022b;
}

body {
  background-color: var(--fs-first);
  color: var(--fs-fifth);
}

.top-page {
  padding: 10% 0;
  margin-bottom: 30px;
  background-color: var(--fs-second);
}

.font-rubik {
  font-family: "rubiklight";
}

.fs-title {
  font-family: "minecraftchmc";
}

.fs-btn {
  padding: 10px;
  margin: 2px;
  border: 2px var(--fs-third) solid;
  border-radius: 10px;
  text-decoration: none;
  color: var(--fs-fifth);
  transition: 0.25s ease all;
}

.fs-btn:hover {
  color: var(--fs-first);
  background-color: var(--fs-third);
}
