@dp00: 0%;
@dp01: 5%;
@dp02: 7%;
@dp03: 8%;
@dp04: 9%;
@dp06: 11%;
@dp08: 12%;
@dp12: 14%;
@dp16: 15%;
@dp24: 16%;

@Hovered: 4%;
@Focused: 12%;
@Pressed: 10%;
@Dragged: 8%;

@HighEmphasis: 87%;
@MidEmphasis: 60%;
@Disabled: 38%;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./normalize.css');

:root {
    color-scheme: light dark;
}

body {
    // flex set
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    // main set
    font-family: 'Roboto';
    // color set
    background-color: #fff;
    color: #000;
    @media (prefers-color-scheme: dark) {
        background-color: #121212;
        color: #fff;
    }
}

// space div
div {
    &.small-space {
        width: 100%;
        height: 20px;
    }
    &.big-space {
        width: 100%;
        height: 60px;
    }
}

// progress bar
.progress-bar {
    background-color: #eee;
    border-radius: 5px;
    height: 16px;
    .progress {
        background-color: #00bb33;
        border-radius: 5px;
        height: 100%;
    }
}

// navbar
.navbar {
    // flex set
    display: flex;
    padding: 15px;
    justify-content: space-between;
    width: 100%;
    .logo {
        // flex set
        display: flex;
        align-items: center;
        // main set
        font-size: 20px;
        margin-left: 20px;
        p {
            margin: 0;
        }
        img {
            border-radius: 50%;
            width: 40px;
        }
    }
    .nav {
        // flex set
        display: flex;
        align-items: center;
        .item {
            background-color: transparent;
            border-bottom-width: 3px;
            border-bottom-style: solid;
            cursor: pointer;
            font-size: 20px;
            margin-right: 20px;
            text-decoration: none;
            transition: all 0.25s ease-in-out;
            border-bottom-color: transparent;
            // color set
            color: #000;
            @media (prefers-color-scheme: dark) {
                color: #fff;
            }
            &.active {
                cursor: default;
            }
            &:hover,
            &.active {
                // color set
                border-bottom-color: #ff7707;
                @media (prefers-color-scheme: dark) {
                    border-bottom-color: #ffaa66;
                }
            }
        }
        .dropdown {
            float: right;
            overflow: hidden;
            .dropdown-button {
                border-top: none;
                border-left: none;
                border-right: none;
                &::after {
                    border-top: 0.3em solid;
                    border-right: 0.3em solid transparent;
                    border-bottom: 0;
                    border-left: 0.3em solid transparent;
                    content: '';
                    display: inline-block;
                    margin-left: 0.255em;
                    vertical-align: 0.255em;
                }
            }
            .dropdown-content {
                // main set
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, @dp01);
                display: block;
                min-width: 160px;
                opacity: 0;
                position: absolute;
                transform: translateY(-60px) scaleY(0);
                transition: all 0.25s ease-in-out;
                right: 0;
                z-index: -1;
                // color set
                background-color: #fff;
                @media (prefers-color-scheme: dark) {
                    background-color: #1e1e1e;
                }
                &.show {
                    opacity: 1;
                    transform: translateY(10px) scaleY(1);
                    z-index: 1;
                }
                .dropdown-item {
                    border-radius: 10px;
                    display: block;
                    float: none;
                    margin: 0;
                    padding: 5px 10px;
                    text-align: center;
                    text-decoration: none;
                    transition: all 0.25s ease-in-out;
                    // color set
                    color: #ff7707;
                    @media (prefers-color-scheme: dark) {
                        color: #ffaa66;
                    }
                    &.link {
                        color: #000;
                        @media (prefers-color-scheme: dark) {
                            color: #fff;
                        }
                        &.active {
                            cursor: default;
                        }
                        &:hover,
                        &.active {
                            background-color: #ff7707;
                            @media (prefers-color-scheme: dark) {
                                background-color: #ffaa66;
                            }
                        }
                    }
                }
            }
        }
    }
}

// content
div {
    &.title-main {
        // main set
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, @dp01);
        padding: 15px;
        text-align: center;
        width: 80%;
        // color set
        background-color: #ff7707;
        @media (prefers-color-scheme: dark) {
            background-color: #ffaa66;
        }
        img {
            height: 80px;
        }
    }
    &.title-voidland {
        // main set
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, @dp01);
        padding: 15px;
        text-align: center;
        width: 80%;
        // color set
        background-color: #aa00ff;
        @media (prefers-color-scheme: dark) {
            background-color: #bb66ff;
        }
        img {
            height: 80px;
        }
    }
    &.content {
        // main set
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, @dp01);
        padding: 15px;
        text-align: center;
        width: 80%;
        word-wrap: break-word;
        // color set
        background-color: #fff;
        @media (prefers-color-scheme: dark) {
            background-color: #1e1e1e;
        }
        .link-button {
            // main set
            border-width: 3px;
            border-style: solid;
            border-radius: 10px;
            padding: 2.5px 5px;
            text-decoration: none;
            transition: all 0.25s ease-in-out;
            // color set
            color: #ff7707;
            border-color: #ff7707;
            @media (prefers-color-scheme: dark) {
                color: #ffaa66;
                border-color: #ffaa66;
            }
            &:hover {
                color: #000;
                background-color: #ff7707;
                @media (prefers-color-scheme: dark) {
                    color: #fff;
                    background-color: #ffaa66;
                }
            }
        }
        .discord-widget {
            border-radius: 10px;
            height: 500px;
            width: 100%;
        }
    }
}

.footer {
    // main set
    border-radius: 10px 10px 0px 0px;
    bottom: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, @dp01);
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    // color set
    background-color: #fff;
    @media (prefers-color-scheme: dark) {
        background-color: #1e1e1e;
    }
}
